<p id="notice"><%= notice %></p>

<p>
  <strong>User access:</strong>
  <%= @user_conflict.user_access_id %>
</p>

<p>
  <strong>Conflict:</strong>
  <%= @user_conflict.conflict_id %>
</p>

<%= link_to 'Edit', edit_user_conflict_path(@user_conflict) %> |
<%= link_to 'Back', user_conflicts_path %>
