<p id="notice"><%= notice %></p>

<h1>User Accesses</h1>

<%=
  link_to 'Download as Excel',
  user_accesses_path(format: :xlsx)
%>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Period</th>
      <th>Responsibility</th>
      <th>Conflicts</th>
      <th>Conflicts_count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accesses.each do |user_access| %>
      <tr>
        <td><%= user_access.username %></td>
        <td><%= user_access.period %></td>
        <td><%= user_access.responsibilities.pluck(:name) %></td>
        <td><%= user_access.conflicts.pluck(:name) %></td>
        <td><%= user_access.conflicts.count %></td>
        <td><%= link_to 'Show', user_access %></td>
        <td><%= link_to 'Edit', edit_user_access_path(user_access) %></td>
        <td><%= link_to 'Destroy', user_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Access', new_user_access_path %>

<%= form_tag(import_xlsx_user_accesses_path, multipart: true, remote: true) do %>
  <%= file_field_tag 'file' %>
  <%= submit_tag("import") %>
<% end %>
