<p id="notice"><%= notice %></p>

<h1>Responsibility Conflicts</h1>

<table>
  <thead>
    <tr>
      <th>Responsibility</th>
      <th>Control</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsibility_conflicts.each do |responsibility_conflict| %>
      <tr>
        <td><%= responsibility_conflict.responsibility_id %></td>
        <td><%= responsibility_conflict.control %></td>
        <td><%= link_to 'Show', responsibility_conflict %></td>
        <td><%= link_to 'Edit', edit_responsibility_conflict_path(responsibility_conflict) %></td>
        <td><%= link_to 'Destroy', responsibility_conflict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Responsibility Conflict', new_responsibility_conflict_path %>
