<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<!doctype html>
<html lang="es">

<head>
  
</head>

<body>
  <nav class="comun navbar navbar-dark navbar-expand-lg text-white fixed-top bg-dark">
    <div id="nav-title" class="navbar-brand ml-5">
      <h4 id="h4-1">DGJ</h4>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-5 pr-5">
        <li class="nav-item">
          <a class="nav-link" href="#inicio">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#descripcion">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contacto</a>
        </li>

   
        <span class="navbar-text">
          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
            <%= link_to "Dashboard", dashboards_path, class: "nav-link" %>            
          <% else %>
            <%= link_to "Sign in ", new_user_session_path %>
            <span> or </span>
             <%= link_to "Sign up", user_registration_path %>
          <% end %>
        </span>
      



      </ul>
    </div>
  </nav>

  <header id="inicio" class="hero-section">

    <h2 class="subtitulo">Deivis Garate primera pagina</h2>

    <div class="button">
      <button type="button" class="btn btn-outline-secondary text-dark" data-toggle="tooltip" data-placement="right"
        title="Añadir a favoritos">
        Añadir a favoritos</button>
    </div>
  </header>


  <section id="descripcion" class="pt-3">
    <div class="descripcion d-none d-lg-block">
      <h2 class="text-center font-weight-bold pt-0 pb-0 ">MI DESCRIPCION</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati autem natus earum et delectus iure
        consectetur modi ducimus non assumenda facere aliquam blanditiis libero, quis optio, animi officiis facilis
        numquam.</p>
      <div class="card-deck">
        <hr>
        <hr>
        <div class="card mr-0 border-light" style="width: 18rem;">
          <div class="card-body">
            <H4>SOY UN H4</H4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati autem natus earum et delectus iure
              consectetur modi ducimus non assumenda facere aliquam blanditiis libero, quis optio, animi officiis
              facilis numquam.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati autem natus earum et delectus iure
              consectetur modi ducimus non assumenda facere aliquam blanditiis libero, quis optio, animi officiis
              facilis numquam.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati autem natus earum et delectus iure
              consectetur modi ducimus non assumenda facere aliquam blanditiis libero, quis optio, animi officiis
              facilis numquam.</p>
          </div>

        </div>

        <div class="card ml-0 mr-5 border-light" style="width: 18rem;">
          <div class="card-body">
            <H4>SOY UN H4</H4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati autem natus earum et delectus iure
              consectetur modi ducimus non assumenda facere aliquam blanditiis libero, quis optio, animi officiis
              facilis numquam.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati autem natus earum et delectus iure
              consectetur modi ducimus non assumenda facere aliquam blanditiis libero, quis optio, animi officiis
              facilis numquam.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati autem natus earum et delectus iure
              consectetur modi ducimus non assumenda facere aliquam blanditiis libero, quis optio, animi officiis
              facilis numquam.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati autem natus earum et delectus iure
              consectetur modi ducimus non assumenda facere aliquam blanditiis libero, quis optio, animi officiis
              facilis numquam.</p>
            
          </div>

        </div>

      </div>
    </div>


  </section>


  <section id="experiencia" class="trabajos">
    <hr>
    <h2 class="text-center font-weight-bold pt-0 pb-3">ULTIMOS TRABAJOS</h2>
    <div class="container-fluid">
      <div class="card-deck ml-1">
        <div class="card" style="width: 18rem;">
         <%= image_tag("meet_coffee.png", class:"card-img-top") %>
        </div>

        <div class="card" style="width: 18rem;">
          
          <%= image_tag("iguana_page.png", class:"card-img-top") %>
        </div>

        <div class="card" style="width: 18rem;">
          
          <%= image_tag("suricata.png", class:"card-img-top") %>

        </div>
      </div>
      <div class="card-deck ml-1">
        <div class="card" style="width: 18rem;">
          
          <%= image_tag("cuppon.png", class:"card-img-top") %>
        </div>

        <div class="card" style="width: 18rem;">
          
          <%= image_tag("dmark.png", class:"card-img-top") %>
        </div>

        <div class="card" style="width: 18rem;">
          
          <%= image_tag("ricomida.png", class:"card-img-top") %>

        </div>
      </div>
    </div>

  </section>

  <section class="newslette bg-danger">

    <div id="newsletter" class="container-fluid text-white text-center">

      <div class="container center_div bg-danger">
        <div class="typeform-widget" data-url="https://garatex.typeform.com/to/LaXVCF"
          style="width: 100%; height: 60%;"></div>
        <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a
            href="https://admin.typeform.com/signup?utm_campaign=LaXVCF&utm_source=typeform.com-01E9PW2G4E79SDB8VW6Y791CKW-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN"
            style="color: #999" target="_blank">Typeform</a>
        </div>
      </div>


    </div>
  </section>



  <footer id="footer" class="container-fluid bg-dark text-center pt-4 pb-0">
    <p class=" text-footer text-center text-white">DGJ</p>
    <a href="https://github.com"><i class="fab fa-github-square fa-2x"></i></a>
    <a href="https://twitter.com"><i class="fab fa-twitter-square fa-2x"></i></a>
    <a href="https://www.linkedin.com"><i class="fab fa-linkedin fa-2x"></i></a>
    <p>DGJ 2020. Todos los derechos reservados.</p>
  </footer>


 
</body>

</html>