<%= form_with(model: user_responsibility, local: true) do |form| %>
  <% if user_responsibility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_responsibility.errors.count, "error") %> prohibited this user_responsibility from being saved:</h2>

      <ul>
        <% user_responsibility.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_access_id %>
    <%= form.text_field :user_access_id %>
  </div>

  <div class="field">
    <%= form.label :responsibility_id %>
    <%= form.text_field :responsibility_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
