<p id="notice"><%= notice %></p>

<h1>User Responsibilities</h1>

<table>
  <thead>
    <tr>
      <th>User access</th>
      <th>Responsibility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_responsibilities.each do |user_responsibility| %>
      <tr>
        <td><%= user_responsibility.user_access.username %></td>
        <td><%= user_responsibility.responsibility.name %></td>
        <td><%= link_to 'Show', user_responsibility %></td>
        <td><%= link_to 'Edit', edit_user_responsibility_path(user_responsibility) %></td>
        <td><%= link_to 'Destroy', user_responsibility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Responsibility', new_user_responsibility_path %>
