<p id="notice"><%= notice %></p>

<h1>Conflicts</h1>

<br>
  

<table>
  <thead>
    <tr>
      <th>Cycle</th>
      <th>Name</th>
      <th>Description</th>
      <th>Period</th>
      <th>Conflict Qty</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conflicts.each do |conflict| %>
        <tr>
        <td><%= conflict.cycle.name %></td>
        <td><%= conflict.name %></td>
        <td><%= conflict.description %></td>
        <td><%= conflict.user_accesses.pluck(:period) %></td>
        <td><%= conflict.user_accesses.count %></td>
        <td><%= conflict.end_date %></td>
        <td><%= link_to 'Show', conflict %></td>
        <td><%= link_to 'Edit', edit_conflict_path(conflict) %></td>
        <td><%= link_to 'Destroy', conflict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conflict', new_conflict_path %>
